<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <ng-container class="pie-chart-div">
                <h2>Status</h2>
                <canvas id="status"></canvas>
            </ng-container>
        </div>

        <div class="col-md-6 col-sm-12">
            <ng-container class="pie-chart-div">
                <h2>Mode of Reservations</h2>
                <canvas id="reservation"></canvas>
            </ng-container>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12">
            <ng-container class="pie-chart-div">
                <h2>Monthly Reservations</h2>
                <canvas id="types"></canvas>
            </ng-container>
        </div>
    </div>
   
</div>
